{% extends 'base.html' %}
{% load static %}

{% block head %}
	<script src="{% static 'mainApp/js/app.js' %}"></script>
  <link rel="stylesheet" href="/static/css/w3.css"/>
{% endblock head %}


{% block content %}
	<div style="display: flex; flex-wrap: wrap;">

			<div class="rect" style="width: 30vw">
				<p>Essence</p>
				<div class="w3-light-grey">
					<div class="w3-container w3-green w3-center" style="width:0%" id="essence"><nobr>0%</nobr></div>
				</div>
			</div>

			<div class="rect" style="width: 30vw">
				<p>Batterie principale</p>
				<div class="w3-light-grey">
					<div class="w3-container w3-green w3-center" style="width:0%" id="mainBattery"><nobr>0%</nobr></div>
				</div>
			</div>

			<div class="rect" style="width: 30vw">
				<p>Alimentation</p>
				<div class="w3-light-grey">
					<div class="w3-container w3-green w3-center" style="width:0%" id="alim"><nobr>0%</nobr></div>
				</div>
			</div>

			<div class="rect" style="width: 20vw">
				<p>Relai 1</p>
				<button onclick="setRelay(0, 1)", class="button">ON</button>
				<button onclick="setRelay(0, 0)", class="button">OFF</button>
			</div>
			<div class="rect" style="width: 20vw">
				<p>Relai 2</p>
				<button onclick="setRelay(1, 1)", class="button">ON</button>
				<button onclick="setRelay(1, 0)", class="button">OFF</button>
			</div>
			<div class="rect" style="width: 20vw">
				<p>Relai 3</p>
				<button onclick="setRelay(2, 1)", class="button">ON</button>
				<button onclick="setRelay(2, 0)", class="button">OFF</button>
			</div>
			<div class="rect" style="width: 20vw">
				<p>Dark mode</p>
				<button onclick="setDarkMode(1)", class="button">ON</button>
				<button onclick="setDarkMode(0)", class="button">OFF</button>
			</div>

	</div>
{% endblock content %}